autogeobound/
baseline_comparison_data/
calibration_data/
calibration_data_deprecated/
calibration_data_TEST/
decode/
experiments/
GEE_tile_grids/
inference_data/
old_files/
resuneta/
testing/
training_data/
training_data_deprecated/